/* 
    Document   : styles.css
    Created on : 26-ene-2013, 12:00:37
    Author     : Valex
    Description:
        Purpose of the stylesheet follows.
*/
*{
        margin: 0px!important;
}

body{
    background-attachment: fixed!important;
    background-color: #E6F2FA!important;
    background-image: url("../images/Middle_texture.jpg")!important;
    background-position: left top!important;
    background-repeat: repeat!important;
    color: #0E2F43!important;
    height: 100%!important;
    margin: 0 0 -10px!important;
    padding: 0!important;
    overflow: scroll;
} 
.ui-layout-container{
    width: 1000px;
    margin: 10px auto!important;
    position: relative;
    overflow: scroll;
}

#divMenu{
    width: 100%;
    height: 30px;
    margin: 0px;
    float: left;
}
#divHeader{
    background: url("../images/header.png")!important;
    height: 187px;
    width: 988px;
}

#j_idt11{
    margin: 0px!important;
}
j_idt18{
    height: 350px!important;
}
